<section id="todoapp">
    <header id="header">
        <h4 ng-show="loading">Loading...</h4>
        <form id="todo-form" ng-submit="addTodo()" ng-show="!loading">
            <input id="new-todo" placeholder="What needs to be done?" ng-model="newTodo" ng-disabled="saving" autofocus>
        </form>
    </header>
    <section id="main" ng-show="todos.length" ng-cloak>
        <input id="toggle-all" type="checkbox" ng-checked="allChecked" ng-model="allChecked" ng-click="markAll(allChecked)">
        <label for="toggle-all">Mark all as complete</label>
        <ul id="todo-list">
            <li ng-repeat="todo in todos | filter:statusFilter track by $index" ng-class="{completed: completed, editing: todo == editedTodo}">
                <div class="view">
                    <input class="toggle" type="checkbox" ng-model="todo.completed" ng-change="toggleCompleted(todo)">
                    <label ng-dblclick="editTodo(todo)">{{todo.title}}</label>
                    <button class="destroy" ng-click="removeTodo(todo, $index)"></button>
                </div>
                <form ng-submit="saveEdits(todo, 'submit')">
                    <input class="edit" ng-trim="false" ng-model="todo.title" ng-blur="saveEdits(todo, 'blur')">
                </form>
            </li>
        </ul>
    </section>
    <footer id="footer" ng-show="todos.length" ng-cloak>
					<span id="todo-count"><strong>{{remainingCount}}</strong>
						<ng-pluralize count="remainingCount" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
					</span>
        <ul id="filters">
            <li>
                <a ng-class="{selected: status == ''} " ng-click="changeFilter()">All</a>
            </li>
            <li>
                <a ng-class="{selected: status == 'active'}" ng-click="changeFilter('active')">Active</a>
            </li>
            <li>
                <a ng-class="{selected: status == 'completed'}" ng-click="changeFilter('completed')">Completed</a>
            </li>
        </ul>
        <button id="clear-completed" ng-click="clearCompletedTodos()" ng-show="completedCount">Clear completed ({{completedCount}})</button>
    </footer>
</section>
<footer id="info">
    <p>Double-click to edit a todo</p>
</footer>